@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import './responsive.css';

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-x: clip;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}
